<!-- this file will contain the repeat html and css of all pages for 
 similar layout like header and footer -->

 <!DOCTYPE html>
 <html lang="en">
 <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pustakalya 2.0</title>
 </head>
 <body>
    Before
    <br>
    <%- body %>
    <br>
    After
 </body>
 </html>